.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container {
  position: relative;
  margin: 1rem 0;
}

.floating-logo {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 50px; /* Adjust the size of the logo as needed */
  transform: rotate(10deg); /* Rotate the logo 10 degrees */
  z-index: 10; /* Ensure it appears above the table */
  pointer-events: none; /* Prevent the logo from interfering with table interactions */
}
