.stats {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.stats-column {
  flex: 1;
  margin: 0 1rem;
  min-width: 300px;
  text-align: center;
}

.stats-column h2 {
  text-align: center;
}

.stats-column ul {
  list-style: none;
  padding: 0;
}

.stats-column li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.stats-column img {
  margin-right: 1rem;
}
